main {
  padding: 10px;
}

.record {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

p {
  width: 25%;
  margin: 0;
}

iframe {
  background: transparent;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
