main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

.record {
  flex: 0 21.5%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: lightgray;
}

p {
  margin: 0;
}

iframe {
  background: transparent;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
