nav {
  display: flex;
  justify-content: space-between;
}

.foreman {
  width: 35%;
  display: flex;
}

main {
  padding: 10px;
}

.specialty {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #efefef;
}

.record {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

p {
  width: 25%;
  margin: 0;
}

.sub-nav {
  margin-bottom: 20px;
}

.sub-nav a {
  margin: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.sub-nav a:hover {
  text-decoration: underline;
}

.sub-nav .active {
  background-color: lightgrey;
}

iframe {
  background: transparent;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
